:root {
    --background-color: hsl(204, 43%, 93%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container {
    margin: auto;
}

div{
    width: 660px;
    background-color: aliceblue;
}


.mini-container {
    display: flex;
    flex-direction: row;
}

.sm-container {
    width: 330px;
}
.cyan {
    background-color: hsl(179, 62%, 43%);
}
.light-gray {
    background-color: hsl(218, 22%, 67%);
}
ul li {
    list-style-type: none;
}